/*===================
    universel styles 
  ===================*/
  * {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
  }
  header {
    background: rgba(255, 144, 14, 0.1);
    box-sizing: border-box;
  }

/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    max-width: 1448px;
    width: 100%;
    margin: 0 auto;
    padding-top: 55px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
nav ul li {
    font-weight: 500;
    margin-left: 50px;
    font-size: 15px;
    transition: color 0.30s;
    cursor: pointer;
}
nav ul li:hover {
    color: lightgray;
}
/* About us */
.about-us-seciton {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-title {
    text-align: center;
    margin-top: 100px;
}
.header-info {
    text-align: center;
    width: 850px;
    margin-top: 30px;
}
.explore-btn {
    background: #FF900E;
    border-radius: 4px;
    border:none;
    padding: 15px 25px;
    color: white;
    font-weight: 500;
    margin-top: 30px;
}
.banner {
    margin: 50px auto 45px;
}
